<h1 mat-dialog-title>Detalles de la Reserva</h1>

<div mat-dialog-content class="dialog-content">
  <form [formGroup]="reservationForm">
    <div class="details-grid">
      <mat-form-field appearance="outline" class="grid-item readonly-field">
        <mat-label>Documento</mat-label>
        <input matInput formControlName="clientId" readonly />
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item readonly-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="clientName" readonly />
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item readonly-field">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="clientLastName" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="grid-item readonly-field">
        <mat-label>Nombre de la rutina</mat-label>
        <input matInput formControlName="routineName" readonly />
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item readonly-field">
        <mat-label>Nombre Instructor</mat-label>
        <input matInput formControlName="instructorName" readonly />
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item readonly-field">
        <mat-label>Apellido Instructor</mat-label>
        <input matInput formControlName="instructorLastName" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width readonly-field">
        <mat-label>Hora de inicio</mat-label>
        <input matInput formControlName="startDate" readonly />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width readonly-field">
        <mat-label>Hora de Finalización</mat-label>
        <input matInput formControlName="endDate" readonly />
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-area-9">
        <mat-label>Estado de la reserva</mat-label>

        <mat-select formControlName="reservationStatusId">
          @for (option of reservationStatusOptions; track option.value) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>

        @if (
          reservationForm.get("reservationStatusId")?.hasError("required") &&
          reservationForm.get("reservationStatusId")?.touched
        ) {
          <mat-error>Debe seleccionar un estado</mat-error>
        }
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width description-field readonly-field"
      >
        <mat-label>Descripción y ejercicios</mat-label>
        <textarea
          matInput
          formControlName="routineDescription"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          readonly
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="closeDialog()">Cerrar</button>
</div>
