<main class="home-client-content">
  <mat-card class="home-client-card">
    <mat-card-content>
      <div class="home-client-description">
        <div class="home-client-description-text">
          <h2>Próximas Reservas</h2>
          <app-upcoming-reservations
            [reservations]="reservations"
            (viewReservation)="viewReservation($event)"
            (cancelReservation)="cancelReservation($event)"
          />
        </div>
        <div class="home-client-description-text">
          <h2>Crear Reservas</h2>
          <app-create-reservations />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
