<!-- Título del Diálogo -->
<h1 mat-dialog-title>Detalles de la Reserva</h1>

<!-- Contenido Principal del Diálogo -->
<div mat-dialog-content class="dialog-content-area">
  <!-- Contenedor Grid -->
  <div class="details-grid-area">
    <!-- Fila 1 -->
    <mat-form-field appearance="outline" class="readonly-field grid-area-1">
      <mat-label>Documento</mat-label>
      <input matInput [value]="data.reservation.clientId" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="readonly-field grid-area-2">
      <mat-label>Nombre</mat-label>
      <input matInput [value]="data.reservation.clientName" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="readonly-field grid-area-3">
      <mat-label>Apellidos</mat-label>
      <input matInput [value]="data.reservation.clientLastName" readonly />
    </mat-form-field>

    <!-- Fila 2 -->
    <mat-form-field appearance="outline" class="readonly-field grid-area-4">
      <mat-label>Nombre de la rutina</mat-label>
      <input matInput [value]="data.reservation.routineName" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="readonly-field grid-area-5">
      <mat-label>Nombre Instructor</mat-label>
      <input matInput [value]="data.reservation.instructorName" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="readonly-field grid-area-6">
      <mat-label>Apellido Instructor</mat-label>
      <input matInput [value]="data.reservation.instructorLastName" readonly />
    </mat-form-field>

    <!-- Columna Izquierda (Resto) -->
    <mat-form-field appearance="outline" class="readonly-field grid-area-7">
      <mat-label>Hora de inicio</mat-label>
      <input
        matInput
        [value]="data.reservation.startDate | date: 'HH:mm'"
        readonly
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="readonly-field grid-area-8">
      <mat-label>Hora de Finalización</mat-label>
      <input
        matInput
        [value]="data.reservation.endDate | date: 'HH:mm'"
        readonly
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="readonly-field grid-area-9">
      <mat-label>Estado de la reserva</mat-label>
      <input matInput [value]="data.reservation.reservationStatus" readonly />
    </mat-form-field>

    <!-- Columna Derecha (Descripción) -->
    <mat-form-field
      appearance="outline"
      class="readonly-field description-field grid-area-10"
    >
      <mat-label>Descripción y ejercicios</mat-label>
      <textarea
        matInput
        [value]="data.reservation.routineDescription"
        readonly
      ></textarea>
    </mat-form-field>
  </div>
  <!-- Fin .details-grid-area -->
</div>
<!-- Fin mat-dialog-content -->

<!-- Acciones del Diálogo -->
<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="closeDialog()">Cerrar</button>
</div>
