<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar-title" (click)="navigateTo('')">Zenith Gym</span>
  <div class="buttons-actions">
    <button mat-icon-button class="button" (click)="navigateTo('/memberships')">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="button" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!--TODO: Solo cuando no esté logeado -->
      <button mat-menu-item (click)="navigateTo('/login')">
        Iniciar Sesión
      </button>
      <button mat-menu-item (click)="navigateTo('/singup')">Registrarse</button>
      <!--TODO: Solo cuando sea cliente -->

    </mat-menu>
  </div>
</mat-toolbar>
