<main class="dialog-employee">
  <form
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
    (keydown.enter)="$event.preventDefault()"
  >
    @if (data.mode === 1){
    <h1 mat-dialog-title>Nuevo Empleado</h1>
    } @if (data.mode === 2){
    <h1 mat-dialog-title>Editar Empleado</h1>
    }
    <div mat-dialog-content class="dialog-content-area">
      <div class="employee-details-grid">
        <mat-form-field appearance="outline" class="grid-area-doc">
          <mat-label>Documento</mat-label>
          <input
            matInput
            formControlName="userId"
            (keyup.enter)="searchUser()"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            aria-label="Buscar documento"
            (click)="searchUser()"
          >
            <mat-icon>search</mat-icon>
          </button>
          @if (!employeeForm.get('userId')?.value) {
          <mat-error> Por favor, haga clic en la lupa para buscar. </mat-error>}
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-name">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-lastname">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastname" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-phone">
          <mat-label>Teléfono Movil</mat-label>
          <input matInput formControlName="phone_number" type="tel" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-email">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-birthday">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="birthdayPicker"
            formControlName="birthday"
            readonly
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="birthdayPicker"
            readonly
          ></mat-datepicker-toggle>
          <mat-datepicker #birthdayPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-specialty">
          <mat-label>Especialidad</mat-label>
          <input matInput formControlName="specialty" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-entry-date">
          <mat-label>Fecha de Ingreso</mat-label>
          <input
            matInput
            [matDatepicker]="entryPicker"
            formControlName="date_entry"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="entryPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #entryPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-employee-type">
          <mat-label>Tipo de Empleado</mat-label>
          <mat-select formControlName="employeeTypeId">
            <mat-option
              *ngFor="let role of rolesOptions"
              [value]="role.id_role"
            >
              {{ role.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="grid-area-biography">
          <mat-label>Biografía</mat-label>
          <textarea matInput formControlName="biography" rows="3"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions class="dialog-actions" align="end">
      <button
        mat-stroked-button
        type="button"
        class="cancel-button"
        (click)="closeDialog()"
      >
        Cancelar
      </button>
      <button mat-flat-button type="submit" class="save-button">Guardar</button>
    </div>
  </form>
</main>
